<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ profile_info|json_script:"profile_info" }}
{{ device_code|json_script:"device_code" }}
{{ token|json_script:"token" }}
{{ chat_type|json_script:"chat_type" }}
{{ receiver_id|json_script:"receiver_id" }}
<script>
    const profile_info = JSON.parse(document.getElementById('profile_info').textContent);
    const deviceCode = JSON.parse(document.getElementById('device_code').textContent);
    const token = JSON.parse(document.getElementById('token').textContent);
    const chatType = JSON.parse(document.getElementById('chat_type').textContent)
    const receiverId = JSON.parse(document.getElementById('receiver_id').textContent)
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/websocket.chat.'
        + deviceCode
        + "?token="
        + token
        {#+ '/'#}
    );

    const reader = new FileReader();

    chatSocket.onmessage = function (e) {
        console.log("receiving: ", e)
        let data;
        e.data.text().then(res => {
            data = JSON.parse(res);
            console.log("data: ", data);
            if (data.sender.id !== "df-lanka") {
                document.querySelector('#chat-log').value += (
                    data.sender.id
                    + ':'
                    + data.sender.nickname
                    + '\n'
                    + '      '
                    + data.payload.value + '\n'
                );
            }
        })
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        const sendingData = message;
        chatSocket.send(JSON.stringify({
            "chat_type": chatType,
            "receiver_id": receiverId,
            "type": "text",
            "payload":
                {
                    "value": message
                }
        }));
        console.log("sending", JSON.stringify(sendingData))
        messageInputDom.value = '';
    };
</script>
</body>
</html>