<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ device_code|json_script:"device_code" }}
{{ token|json_script:"token" }}
<script>
    const deviceCode = JSON.parse(document.getElementById('device_code').textContent);
    const token = JSON.parse(document.getElementById('token').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/websocket.chat.'
        + deviceCode
        + "?token="
        + token
        {#+ '/'#}
    );

    const reader = new FileReader();

    chatSocket.onmessage = function (e) {
        console.log("receiving: ", e)
        let data;
        e.data.text().then(res => {
            data = JSON.parse(res);
            console.log("data: ", data);
            document.querySelector('#chat-log').value += (
                data.payload.sender.id
                + ':'
                + data.payload.sender.nickname
                + '\n'
                + '      '
                + data.payload.value + '\n'
            );
        })
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        const sendingData = {
            'type': 'text',
            'value': message
        };
        chatSocket.send(JSON.stringify(sendingData));
        console.log("sending", sendingData)
        messageInputDom.value = '';
    };
</script>
</body>
</html>