<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
Enter your phone:<br>
<input id="phone_input" type="text" size="100"><br>
What chat type would you like to enter? options are: Group、Dialog<br>
<input id="chat_type_input" type="text" size="100"><br>
Enter receiver id, Group is GroupID, Dialog is Phone: <br>
<input id="receiver_id_input" type="text" size="100"><br>
<input id="chat-submit" type="button" value="Enter">


<script>
    document.querySelector('#receiver_id_input').focus();
    document.querySelector('#receiver_id_input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-submit').click();
        }
    };

    document.querySelector('#chat-submit').onclick = function (e) {
        const phone = document.querySelector('#phone_input').value;
        const chatType = document.querySelector('#chat_type_input').value;
        const receiverId = document.querySelector('#receiver_id_input').value;
        window.location.pathname = '/chat/online/' + phone + '/' + "web" + "/" + chatType + "/" + receiverId;
    };
</script>
</body>
</html>